/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4864a3;
}

.chat-container {
    display: flex;
    height: calc(119vh - 60px);
}

/* Sidebar */
.chat-sidebar {
    background-color: #4864a3;
    padding: 10px;
    width: 350px;
}

.sidebar-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.search-input {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #0084ff;
    outline: none;
}

.chat-list {
    list-style: none;
    padding: 0 10px 0 0;
    margin: 0;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.chat-item:hover {
    background-color: #f7f7f7;
}

.chat-avatar {
    margin-right: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-info {
    flex: 1;
}

.friend-name {
    font-weight: bold;
}

.last-message {
    color: #888;
}

/* Chat Messages */
.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #6f8ccf;
    height: calc(120vh - 60px);
    position: relative;
}

.chat-header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.header-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-info {
    display: flex;
    flex-direction: column;
}

.status-text {
    font-size: 0.9rem;
    color: #888;
    margin-top: 5px;
}

.no-friend-message {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: red;
}

.message-list {
    list-style: none;
    padding: 5px;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-bubble {
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px 0;
}

.sent {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

.received {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
}

.sent .message-bubble {
    background-color: #0084ff;
    color: #fff;
}

.received .message-bubble {
    background-color: #ffffff;
    color: #000;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 5px; 
}

.message-time {
    font-size: 0.8rem; 
    color: #ffffff; 
    margin-top: 5px; 
}

/* Input Message */
.chat-input {
    display: flex;
    align-items: center;
    margin: 20px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #0084ff;
    color: #fff;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #005bb5;
}

/* Chat Information */
.chat-information {
    background-color: #4864a3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: calc(120vh - 60px);
    width: 400px;
}

.information {
    text-align: center;
}

.avatar-chat {
    padding: 20px;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

h3 {
    font-size: 1.5rem;
    margin: 5px 0;
}

p {
    color: #181616;
    margin: 0;
}

.icons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.icon {
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: #555;
}

.icon:hover {
    transform: scale(1.1);
}

.section {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 0 25px;
    justify-content: space-between;
}

.section p {
    margin: 0;
    font-weight: bold;
    color: #333;
}

.section svg {
    width: 24px;
    height: 24px;
    fill: #555;
}
