/* Container */
.chat-container {
    display: flex;
    height: 111vh;
    background-color: #f0f2f5;
}

/* Sidebar */
.chat-sidebar {
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
}


/* Chat List */
.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-list li {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.chat-list li.active,
.chat-list li:hover {
    background-color: #e6e6ff;
}

.chat-item {    
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-item:hover,
.chat-item.active {
    background-color: #cdd9e1;
}

.chat-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat-info {
    flex-grow: 1;
}

.chat-info span {
    display: block;
    font-size: 14px;
    color: #333;
}
.chat-info .last-message {
    font-size: 12px;
    color: #888;
}

.no-friends {
    font-size: 16px;
    color: #888;
    margin-top: 20px;
}

/* Main Chat Area */
.chat-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #e9eff3;
}

.chat-header {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: #cdd9e1;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.warning-message {
    color: red;
    text-align: center;
}

/* Messages */
.chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #ebedf0;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.message.sent {
    justify-content: flex-end;
}

.message.received {
    justify-content: flex-start;
}

.message-bubble {
    max-width: 60%;
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
}

.message.received .message-bubble {
    background-color: #f1f0f0;
    color: black;
}

/* Input Area */
.chat-input {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ccc;
    background-color: #cdd9e1;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.chat-input button {
    background-color: #1877f2;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.chat-input button:disabled {
    background-color: #ccc;
}

/* User Info */
.chat-info {
    padding: 10px;
    border-left: 1px solid #ccc;
}

.chat-info h3 {
    color: #1877f2;
}

.chat-info h4 {
    color: #333;
}

.chat-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

/* User Profile */
.chat-infomation {
    padding: 20px;
    border-left: 1px solid #ccc;
    width: 400px; 
    display: flex;
    flex-direction: column;
    background-color: #e9eff3;
}

.avatar-chat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #fff;
}

.chat-infomation h3 {
    margin: 0;
    font-size: 1.5em;
    color: #000;
    text-align: center;
}

.chat-infomation p {
    margin: 5px 0;
    text-align: center;
    color: #000;
}

/* Icons */
.icons {
    display: flex;
    justify-content: center;
    align-items: center;     
}

.icon {
    width: 24px;
    height: 24px;
    fill: rgb(0, 0, 0);
    cursor: pointer;
    margin: 10px 30px 0;
    text-align: center;
}

.icon:hover {
    fill: rgb(205, 220, 242);
}

/* Search Input (Duplicated in .chat-sidebar) */
.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
    border-color: #6c63ff;
    box-shadow: 0px 4px 10px rgba(108, 99, 255, 0.3);
}

/* Section for each menu item */
.section {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.section p {
    margin: 0;
    font-size: 20px;
    color: #000;
}

.section svg {
    width: 16px;
    height: 16px;
    fill: #000;
    cursor: pointer;
}

.section:hover p {
    color: #1877f2;
}

.section:hover svg {
    fill: #1877f2;
}


/* -----------------------------ChatComponent----------------------------- */
/* ChatMessages */
.message-time {
    font-size: 0.8em;
    color: gray;
    margin-top: 5px;
}



/* ----------------------------------------------------------------------- */