/* styles.css */

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f6f7;
}

.chat-header {
    background-color: #009efb;
    color: white;
    padding: 10px;
    text-align: center;
}

.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.received {
    align-items: flex-start;
}

.message-info {
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.message-content {
    background-color: #ffffff;
    border: 1px solid #ccd0d5;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
}

.sent .message-content {
    background-color: #009efb;
    color: white;
}

.received .message-content {
    background-color: #f1f0f0;
}

.chat-input {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid #ccd0d5;
}

.chat-input input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccd0d5;
    margin-right: 10px;
}

.chat-input button {
    padding: 8px 16px;
    background-color: #009efb;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.chat-input button:disabled {
    background-color: #ccd0d5;
    cursor: not-allowed;
}

.chat-username {
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #ccd0d5;
}

.chat-username input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccd0d5;
}

/* styles.css */

.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;
}

.message-content {
    background-color: #ffffff;
    border: 1px solid #ccd0d5;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
}

.message-sender {
    margin-top: 5px;
    font-size: 0.8rem;
}

.sent .message-content {
    background-color: #009efb;
    color: white;
}

.received .message-content {
    background-color: #f1f0f0;
}
